/* Fill viewport, hide scroll bar */
html, body
{
    height: 100%;
    overflow: hidden;
}
input[type=text], select
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit]
{
  width: 10%;
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover
{
  background-color: darkblue;
}

/* Ensure content is below navbar */
div.container-fluid
{
    padding-top: 56px;
}

/* Remove padding within container */
div.container-fluid
{
    padding-left: 0;
    padding-right: 0;
}

/* Fill viewport */
div.container-fluid, div.row, div.col, div.jumbotron
{
    height: 100%;
}

/* Split viewport */
div.row
{
    height: 50%;
    margin-left: 0;
    margin-right: 0;
    overflow: scroll;
}

/* Remove padding within column */
div.col
{
    padding: 0;
}

/* Add padding around form */
form
{
    padding: 15px;
}

/* Right-align leftmost column in matrix */
div.row:first-of-type td:first-child,
div.row:first-of-type th:first-child
{
    text-align: right;
}

/* Don't wrap rows in log */
th
{
    white-space: nowrap;
}

span.badge
{
    margin-left: 15px;
}

/* highlight spans */
span.deleted
{
    background-color: #f00;
}
span.inserted
{
    background-color: #0f0;
}
span.substituted
{
    background-color: #ff0;
}
table
{
    border-collapse : collapse;
    width : 100%;
    height : 50%;
    padding : 8px;
}
table, th, td
{
    border : 1px grey;
}
tr:nth-child(even)
{
    background-color: #f2f2f2;

}
